@tailwind base;
@tailwind components;
@tailwind utilities;

.PhoneInput input {
  height: 80%;
  border-radius: 7px;
}

.otp-field {
  flex-direction: row;
  column-gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.otp-field input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}

.otp-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.otp-field input::-webkit-inner-spin-button,
.otp-field input::-webkit-outer-spin-button {
  display: none;
}

.resend {
  font-size: 12px;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1f25;
  /* background: #34384c; */
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #34384c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}

@layer utilities {
  .hiddend {
    display: none;
  }

  .blocked {
    display: block;
  }
}